<h1 class="something">Hey!</h1>

{{#if user}}
    <div>
        <h1>HELLO {{user.username}}</h1>
        <button class="btn btn-info"><a href="/">Index</a></button>
        <button class="btn btn-danger"><a href="/logout">Log Out</a></button>
    </div>
{{/if}}

{{#unless user}}
<button id="index-login-button" class="btn btn-primary">
    <a href="/login" </a>Login</button>
<button id="index-signup-button" class="btn btn-info">
    <a href="/signup" </a>Sign Up</button>
{{/unless}}