{{!--
<form method="post" action="/review/create">

    <input type="hidden" class="episodeID " name="episodeID" value="{{episode._id}}">


    <input type="text" class="review_content" name="review_content">

    <a href="">
        <input type="submit" class="review_submit">
    </a>

</form> --}}

<h2> Review:</h2>
<form action="/review/create" method="POST">
    <div class="form-group">
        <input type="hidden" class="episodeID" name="episodeID" value="{{episode._id}}">

        <h4>Title:</h4>
        <input type="text" class="form-control" name="review_title" id="review_title">
    </div>

    <div class="form-group">

        <h4>Content: </h4>
        <grammarly-ghost spellcheck="false">
            <div data-id="ff90ac89-c7f4-ebf0-8e69-37406d823ad5" data-gramm_id="ff90ac89-c7f4-ebf0-8e69-37406d823ad5" data-gramm="gramm"
                data-gramm_editor="true" class=n ame="review_content" id="review_content" "gr_ver_2" gramm="true" contenteditable="true"
                style="position: absolute; color: transparent; overflow: hidden; white-space: pre-wrap; border-radius: 4px; box-sizing: border-box; height: 80px; width: 540px; margin: 530px 0px 0px; padding: 6px 12px; z-index: 0; border-width: 1px; border-style: solid; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255); top: 0px; left: 0px;">
                <span style="display: inline-block; line-height: 22.5px; color: transparent; overflow: hidden; text-align: left; float: initial; clear: none; box-sizing: border-box; vertical-align: baseline; white-space: pre-wrap; width: 100%; margin: 0px; padding: 0px; border: 0px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 15px; font-family: Lato, -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; letter-spacing: normal; text-shadow: none; height: 78px;"></span>
                <br>
            </div>
        </grammarly-ghost>
        <textarea name="review_content" class="form-control" rows="3" data-gramm="true" data-txt_gramm_id="ff90ac89-c7f4-ebf0-8e69-37406d823ad5"
            data-gramm_id="ff90ac89-c7f4-ebf0-8e69-37406d823ad5" spellcheck="false" data-gramm_editor="true" style="z-index: auto; position: relative; line-height: 22.5px; font-size: 15px; transition: none; background: transparent !important;"></textarea>
        <grammarly-btn>
            <div class="_1BN1N Kzi1t _2DJZN" style="z-index: 2; transform: translate(509px, 579.5px);">
                <div class="_1HjH7">
                    <div title="Protected by Grammarly" class="_3qe6h">&nbsp;</div>
                </div>
            </div>
        </grammarly-btn>

        {{!--
        <input type="text-area" class="form-control" name="review_content" id="review_content"> --}}
    </div>

    <button type="submit" class="btn btn-success">Submit Review</button>

</form>

{{!--
<form action="/review/create" method="POST">
    <legend>Review:</legend>
    <input type="hidden" class="episodeID" name="episodeID" value="{{episode._id}}">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Review Title</label>
        <input type="text" class="review-title form-control-plaintext" name="review_title">
        <div class="col-sm-10" </div>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="textarea" class="review_content form-control-plaintext" name="review_content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}