
img{
  width: 280px !important;
}

a{
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}

h4{
  color: black !important;
}

.episode-page-cards{
  color: black;
}

/* .inline-display{
  display: inline-block;
} */

.text-color{
  color: black;
  margin-left: 50px;
}

.index-image{
   /* width: 100% !important; */
  width: 1440px !important;
}

.footer-text-white{
  color: white
}

.rendered-podcasts{
  color: black !important;
}

.podcast-result{
  width: 550px;
  padding: 50px;
  border: 3px solid black;
}

.podcast-image{
  width: 100px;
}

/* .podcast-page-image{
  width: 300px !important;
} */

.form-inline{
  margin-left: 340px !important; 
}

.podchats-navbar-text{
  color: green;
}

.podcast-title-card-text{
  text-align: center;
  vertical-align: middle;
}

.search-input{
  width: 70% !important;
}

.form-control {
  display: block;
  width: 50% !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sign-up-container{
  border: 3px solid black;
  border-radius: 3px;
  width: 700px;
}